@import "../../global.scss";

.menu{
    width: 300px;
    height: 100vh;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    


    &.active{
        right: 0;
        
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        font-weight: 100;
        color: white;
        width: 60%;

        @include mobile{
            font-size: 14px;
        }

        .menuIcon{
            width: 30px;
            height: 30px;
        }


        li{
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                margin-left: 15px;
            }

            &:hover{
                font-weight: 400;
            }
        }
    }
    
}