@import "../../global.scss";

.about {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
        // some code to fix spacing
    }
   
    h1 {
      margin-top: 25px;
      font-size: 50px;
      @include mobile {
          font-size: 22px;
      }
    }

    .container {
        height: 100%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        .contentBox{
            width: 700px;
            height: 50%;
            background-color: crimson;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                width: 80%;
                height: 60%;
                margin: 15px 0;
                }

            .contentContainer{
                width: 90%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;


                p {
                    color: white;
                    text-align: center;
                    a, a:hover, a:focus, a:active {
                        text-decoration: underline;
                        color: inherit;
                    }
                    font-weight: 500;

                    @include mobile{
                        font-size: 12px;
                        font-weight: 600;
                        
                    }
                }

                
            }


        }


    }


    button{
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        margin-bottom: 20%;
          
    
        &:focus{
            outline: none;
        }
    }

}