@import "../../global.scss";

.portfolioList {
    font-size: 14;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile{        
        font-size: 13px;
        font-weight: 700;
    }


    &.active{
        background-color: $mainColor;
        color: white;
    }
}


