@import "../../global.scss";

.intro{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .left{
        flex: 0.5;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
       
    
        .imgContainer{
            width: 400px;
            height: 400px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include mobile{
                width: 220px;
                height: 220px;
                margin-top: 3%;
                
            }

            img{
                height: 90%;
                
            }
        }
    }

    .right{
        flex: 0.5;
        position: relative;
        @include mobile {
           margin-bottom: 10px;
        }

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            h1 {
                font-size: 60px;
                margin: 10px 0;

                @include mobile{
                    font-size: 40px;

                }
            }
    
            h2 {
                font-size: 35px;
                
                @include mobile{
                    font-size: 25px;

                }
            }
    
            h3 {
                font-size: 30px;
                @include mobile{
                    font-size: 20px;

                }


                span {
                    font-size: inherit;
                    color: crimson;

                }

                .ityped-cursor{
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    
                    100% {
                        opacity: 0;
                    }
                }
            } 

        }

        a {
            position: absolute;
            bottom: 10px;
            left: 40%;


            img {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink{
                100%{
                    opacity: 0;
                }
            }
        }

        
    }
}